<head>
  <title>User Playlist</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#19e68c" />
  <meta name="description" content="Simple web application exploring user playlist in Spotify" />
  <meta property="og:description" content="Simple web application exploring user playlist in Spotify">
  <meta property="og:title" content="Spotify Playlists">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://cdn.glitch.com/3d997725-678f-4037-aada-dc262e76dc5c%2FSpotify_Icon_RGB_Black.png?v=1581506350327">
  <link rel="apple-touch-icon" href="https://cdn.glitch.com/3d997725-678f-4037-aada-dc262e76dc5c%2FSpotify_Icon_RGB_Black.png?v=1581506350327">
  <link rel="stylesheet" href="https://csstools.github.io/sanitize.css/latest/sanitize.css">
  <link rel="stylesheet" href="style.css">
</head>
