<head>
  <title>User Playlist</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#19e68c" />
  <meta name="description" content="Simple web application exploring user playlist in Spotify" />
  <meta property="og:description" content="Simple web application exploring user playlist in Spotify">
  <link rel="stylesheet" href="https://csstools.github.io/sanitize.css/latest/sanitize.css">
  <link rel="stylesheet" href="/style.css">
</head>