<form id="getUser" class="row wrap">
  <input
    id="finduser"
    name="finduser"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    placeholder="username"
  />
  <input type="submit" value="go" id="go" class="bg-dark light">
</form>