<div class="row wrap">
  <input
    id="finduser"
    name="finduser"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    placeholder="username"
  />
  <button id="go">
    {{> head}}
  </button>
</div>