
    <main>
      <h1 class="title">{{projectName}}</h1>

      <blockquote>
      <h3>
        API:
        </h3>
        <ul>
          <li><a href="/user/nntrn">/user/<code>:username</code></a> (<code>:id</code> also works)</li>
          <li><a href="api/user/nntrn">/api/user/<code>:username</code></a> (<code>:id</code> also works)</li>
        </ul>
      </blockquote>
    </main>
    <script>
    document.querySelector('#go').addEventListener('click',function(){
      window.location.pathname = '/user/' +document.querySelector('#finduser').value
    })
    </script>



