<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Spotify API Playground</title>
    <meta name="description" content="An introduction to interacting with the Spotify API">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/project-avatar/b96c147f-8065-40a6-9908-4fcafce2a361.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Spotify API Playground</h1>
      <a class="pull-right" href="https://glitch.com/edit/#!/spotify-playground">
        <button class="btn btn-lg btn-primary">Get started</button>
      </a>
    </header>

    <main>
      
      <section style="background-color:#F573A0;color:white;">
        <h2>Search for a Track</h2>
        <div id="search-track-container"></div>
      </section>
      
      <section style="background-color:#503750;color:white;">
        <h2>Browse: Get a Category's Playlists</h2>
        <div id="category-playlists-container"></div>
      </section>
      
      <section style="background-color:#FF4632;color:white;">
        <h2>Get Audio Features for a Track</h2>
        <div id="audio-features-container"></div>
      </section>
      
      <section style="background-color:#509BF5;color:white;">
        <h2>Get an Artist</h2>
        <div id="artist-container"></div>
      </section>
      
      <section style="background-color:#F59B23;color:white;">
        <h2>Get an Artist's Top Tracks</h2>
        <ol id="top-tracks-container"></ol>
      </section>
      
    </main>

    <footer>
      <a href="https://glitch.com/edit/#!/spotify-playground">
        <button class="btn btn-lg btn-primary">Get started</button>
      </a>
      <a href="https://twitter.com/imariari"><p>Made by Arielle Vaniderstine</p></a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
