<blockquote>
  <h3>API:</h3>
  <ul>
    <li><a href="/user/nntrn">/user/<code>:username</code></a></li>
    <li><a href="api/user/nntrn">/api/user/<code>:username</code></a></li>
  </ul>
</blockquote>

<div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
<script src="https://button.glitch.me/button.js"></script>