<blockquote class="bg-light dark" style="position:relative">
  <h3>API:</h3>
  <ul>
    <li><a href="/user/nntrn">/user/<code>:username</code></a></li>
    <li><a href="api/user/nntrn">/api/user/<code>:username</code></a></li>
  </ul>
  <div class="glitchButton" style="position:absolute;top:10px;right:10px;z-index:1000"></div>
</blockquote>
<script src="https://button.glitch.me/button.js"></script>