<!doctype html>

<html>

<head>
  <title>{{title}}</title>
  {{> head}}
</head>

<body>
  body: {{{body}}}

  <hr/>
  post body
  <hr/>

  <footer>
  annie tran
  </footer>
  
  <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
  <script src="https://button.glitch.me/button.js"></script>
  
</body>

</html>