<!doctype html>

<html>

<head>

  <title>{{user}}</title>
  {{> head}}
</head>

<body>
  
  
  
  <header>
    
  <h1 class="title">{{projectName}}</h1>
    
    {{> search}}
    
  </header>
  
<main>
    
 {{{body}}}

    </main>

  <footer>
  annie tran
  </footer>
  
  <script>
document.querySelector('#go').addEventListener('click',function(){
  window.location.pathname = '/user/' +document.querySelector('#finduser').value
})
</script>
  
</body>

</html>