<!doctype html>
<html>
<head>
  <title>{{user}}</title>
  
  {{> head}}
  
</head>
<body>
  <header>
    <h1 class="title">
      <a href="/" class="light">{{projectName}}</a>
    </h1>
    
    {{> search}}
    
  </header>

  <main>
    
    {{{body}}}
    
  </main>

  <footer>
    <a href="https://open.spotify.com/user/nntrn">annie tran</a>
  </footer>

  <script>
    let form = document.getElementById("getUser");

    form.addEventListener("submit", function(event) {
      event.preventDefault()
      window.location.pathname =`/user/${document.querySelector("#finduser").value}`
    })
  </script>
  <script>
    
    function getTracksApi(id){
      
      fetch(`/api/playlist/${id}/tracks`)
      .then(data=> data.json())
      .then(d=>blah(id, d))
      
    }
    
    function blah(id, dat){
      document.querySelector(`#playlist-${id} .tracks .output`)
        .appendChild(Object.assign(document.createElement('div',{
        textContent:JSON.stringify(dat,null,2)
      })))
    }
</script>

</body>

</html>