<!doctype html>
<html>
<head>
  <title>{{user}}</title>
  
  {{> head}}
  
</head>
<body>
  <header>
    <h1 class="title">
      <a href="/" class="light">{{projectName}}</a>
    </h1>
    
    {{> search}}
    
  </header>

  <main>
    
    {{{body}}}
    
  </main>

  <footer>
    annie tran
  </footer>

  <script>

    
let form = document.getElementById("getUser");

form.addEventListener("submit", function(event) {
  window.location.pathname =
    "/user/" + document.querySelector("#finduser").value;
});

    
  </script>

</body>

</html>