  <title>{{user}}</title>

      <h2 data-label="user">
        {{user}}
      </h2>
      <h3>
        <a href="https://open.spotify.com/user/{{user}}" data-label="open-spotify">https://open.spotify.com/user/{{user}}</a>
      </h3>

    <div id="items">

      <div class="card" id="playlist-template" data-index="-1">
        <div class="flex">
          <div class="image">
            <img data-api="images[0].url" data-label="src" width="80px" height="80px">
          </div>
          <div class="container">
            <h3 class="playlist-name">
              <a href="" data-api="external_urls.spotify" data-label="href" target="_blank">
               <span data-api="name"></span>
              </a>
            </h3>
             <small>
               <span>Tracks: </span>
               <span data-api="tracks.total"></span>
            </small>
            <div data-api="description"></div>
          </div>
        </div>
        <label data-api="id"></label>
      </div>
      
    </div>
<script src="/client.js"></script>