<div class="user">

  <h2 data-label="title">{{user}}</h2>

  <h3>
    <a href="https://open.spotify.com/user/{{user}}" data-label="open-spotify">
      <span class="light">https://open.spotify.com/user/{{user}}</span></a>
  </h3>

  <span class="opacity-75">
    <span data-inject-api="total"></span>
    <span>playlists</span>
  </span>

  <div id="items">

    <div class="card" id="playlist-template" data-index="-1">
      <div class="flex">
        <div class="image">
          <img data-api="images[0].url" data-label="src" width="80px" height="80px">
        </div>
        <div class="container">
          <h3 class="playlist-name">
            <a href="" data-api="external_urls.spotify" data-label="href" target="_blank">
              <span data-api="name"></span>
            </a>
            <small>by <span data-api="owner.display_name"></span></small>
          </h3>

          <div data-api="description"></div>
          <small class="light opacity-75 hover">
            <span>Tracks: </span>
            <span data-api="tracks.total"></span>
          </small>

        </div>
      </div>
      <label data-api="id" class="opacity-50"></label>
      <div class="output flex">
        <button value="" data-api="id" data-label="value" onclick="getTracksApi(value)">view tracks</button>
        <div class="track"></div>
      </div>
    </div>
  </div>

  <small>
    <strong>last fetched: </strong>
    <span data-inject-api="fetched"></span>
  </small>

  <style>
    .tracks button{
      font-size:.8em;
      position:absolute;
      bottom:0;
      left:0;
      border-radius:0;
      color:var(--dark);
      background:rgba(255,255,255,.7);
    }
  </style>

  <script src="/client.js"></script>
  <script>
    function query(params) {
      return (
        '?' +
        Object.entries(params)
          .map(e => `${e[0]}=${e[1]}`)
          .join('&')
      )
    }

    function getTracksApi(id) {

      fetch(`/api/playlist/${id}/tracks`)
        .then(data => data.json())
        .then(d => blah(id, d.items))
    }

    function blah(id, dat) {


      const output = document.querySelector(`button[value="${id}"]`).parentElement
      output.style.cssText = 'display:flex;flex-direction:column'
      const parent = $make('table')
      var pop = []

      dat.forEach((e, i) => {
        const row = $make('tr')

        // pop.push(e.track.popularity)

        const cols = [
          i + 1,
          new Date(e.added_at).toLocaleDateString(),
          e.track.name,
          e.track.artists.map(e => e.name).join(' & '),
          e.track.popularity
        ]
        cols.forEach(e => {
          row.appendChild(Object.assign($make('td'), {
            textContent: e,
            style: `${String(e).length < 15 ? 'white-space:pre' : ''}`
          }))
        })
        pop.push(cols)
        parent.appendChild(row)
      })

      // output.appendChild(parent)

      var div = Object.assign($make('div'), {
        className: 'chart',
        style: `display:flex;width:100%;height:200px;align-items:flex-end;`
      })

      pop.sort((a, b) => a[4] - b[4]).forEach(p => {
        var bar = Object.assign($make('div'), {
          style: `height: ${p[4]}%;width:100%;flex-grow:1;border:1px solid black`,
          className: 'bar',
         
        })
        
        bar.dataset.pop=`${p[4]}%`
        var tooltip = Object.assign($make('div'), {
          textContent: `${p[2]} by ${p[3]}`,
          className: 'tooltip'
        })
        bar.appendChild(tooltip)
        div.appendChild(bar)
      })


      output.appendChild(div)

      document.querySelector(`#playlist-${id} .output button`).remove()
    }

  </script>


</div>