<html>
  {{> head }}
  <body class="center">
    <header>
      <h1>
        {{title}}
      </h1>
    </header>

    <main>
      <pre>{{json}}</pre>
    </main>

    <script>
      const url = "/api/user/{{title}}"
      
      localStorage.getItem(url);
      
      function getLocalData(key){
        return JSON.parse(localStorage.getItem(key))
      }
      
      if(!localStorage.getItem(url)){
        fetch(url)
        .then(response =>response.json())
        .then(data => {
          console.log(data);
        localStorage.setItem(url, JSON.stringify(data.body));
        })
        
      }
      

    </script>
  </body>
</html>
