<html>
  {{> head }}

  <body class="center">
    <main>
      <header>
        <h1 data-label="user">
          {{title}}
        </h1>
        <h3>
          <a
            href="https://open.spotify.com/user/{{title}}"
            data-label="open-spotify"
            >https://open.spotify.com/user/{{title}}</a
          >
        </h3>
      </header>

      <div id="items">
        
       <div class="card" id="$id" data-index="1">
         <label data-api="id"></label>
         <div class="flex">
           <div class="image"></div>
           <div class="container">
             <h3 data-api="playlist-name"></h3>
              <div data-api="description"></div>
           </div>
         </div>
         
        </div>
      </div>
      
      <pre id="json"></pre>
    </main>

    <script>
      const url = "/api/user/{{title}}";

      function getLocalData(key) {
        return JSON.parse(localStorage.getItem(key));
      }

      function $get(query) {
        return document.getElementById(query);
      }
      
      function albumImage(images){
      
        
      }

      
      function fillPage(data) {
        const div = Object.assign(document.createElement("a"), {
          href: url,
          textContent: url
        });
        
        
        
       document.body.appendChild(div);

        data.items.forEach(e => {
          const item = Object.assign(document.createElement("div"), {
            className: "card",
            id: e.id
          });
          const description = Object.assign(document.createElement("div"), {
            textContent: e.description,
            'aria-label': 'description'
          });
          const title = Object.assign(document.createElement("h3"), {
            textContent: e.name,
              'aria-label': 'title'
          });
          const albumImage = Object.assign(document.createElement('img'),{
            src: e.images[0].url
          })

          item.appendChild(title);
          item.appendChild(description);

          $get("items").appendChild(item);
        })


      }

      function dataManager(userUrl, cb) {
        var dat = getLocalData(userUrl);

        if (!localStorage.getItem(userUrl)) {
          fetch(userUrl)
            .then(response => response.json())
            .then(data => {
              dat = data.body;
              console.log("fetched", data);
              localStorage.setItem(
                userUrl,
                JSON.stringify({
                  ...data.body,
                  fetched: new Date().toLocaleString()
                })
              );
            });
        }

        cb(dat);
      }

      dataManager(url, fillPage);
    </script>
  </body>
</html>
