<div class="user">
  
<h2 data-label="title">{{user}}</h2>
  
<h3>
  <a href="https://open.spotify.com/user/{{user}}" data-label="open-spotify">
  <span class="light">https://open.spotify.com/user/{{user}}</span></a>
</h3>
  
  <span class="opacity-75">
    <span data-inject-api="total"></span>
    <span>playlists</span>
  </span>
  
  <div id="items">
      
      <div class="card" id="playlist-template" data-index="-1">
        <div class="flex">
          <div class="image">
            <img data-api="images[0].url" data-label="src" width="80px" height="80px">
          </div>
          <div class="container">
            <h3 class="playlist-name">
              <a href="" data-api="external_urls.spotify" data-label="href" target="_blank">
               <span data-api="name"></span>
              </a>
              <small>by <span data-api="owner.display_name"></span></small>
            </h3>

            <div data-api="description"></div>
            <small class="light opacity-75 hover">
               <span>Tracks: </span>
               <span data-api="tracks.total"></span>
            </small>
            
          </div>
        </div>
        <label data-api="id" class="opacity-50"></label>
        <div class="tracks flex">
          <button value="" data-api="id" data-label="value" onclick="getTracksApi(value)" >view tracks</button>
          <div class="output"></div>
        </div>
      </div>
    </div>
  
  <small>
    <strong>last fetched: </strong>
    <span data-inject-api="fetched"></span>
  </small>
  
  <script src="/client.js"></script>
  <style>
    .tracks button{
      font-size:.8em;
      position:absolute;
      bottom:0;
      left:0;
      color:var(--dark);
      background:rgba(255,255,255,.7);
    }
  </style>

</div>
