:root{
  --dark: #191414;
  --light: #ffffff;
  --primary: #1DB954;
}


* {
  box-sizing: border-box;
}

body {
  font-family: SF Pro Display, system ui, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark);
  background-color: var(--light);
  tab-size:2;
}


section {
  margin: 20px 0;
  padding: 1.4rem 0;
}

.radius-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.radius-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

label.input-container {
  display: flex;
  flex-direction: column;
  position: relative;

}

label.input-container span {
  user-select: none;
  text-transform: uppercase;
  font-size: 0.68em;

  opacity: 0.85;
  width: 100%;
  padding-left: 0;
}

label.input-container:hover span {
  opacity: 0.5;
}

label.input-container input.form-control {
  margin-right: 0.4rem;
}
input[type="submit"] {
  align-self: flex-end;
  justify-content: flex-end;
}

.output{
  max-height:300px;
  overflow-y:scroll
}

.flex{
  display:flex
}
h1,h2,h3,h4,h5{
  margin:unset
}
.container{
  padding: 0 .85rem;
}
.tooltip{
/*   display:none; */
  position:relative;
  
}
.tooltip:after {
  position:absolute;
  content: 'Hovered!';
  padding: 1px 6px;
  transform: translateX(-70%) translateY(0%);
  background: var(--dark);
  color: var(--light);
  visibility: hidden;
  font-size:12px;
  border-radius:5px;
}
.tooltip:hover:after {
  visibility: visible;
  transform: translateX(-70%) translateY(-45%);
  transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#playlist-template{
  display:none
}

.card {
  margin: 1.5rem 0;
  border-radius: 3px;
  padding: 1.8rem!important;
  background: #19e68c;
    border: 5px solid var(--dark);
}

.card .playlist-name a{
  color: var(--light);
}

.card .image {
  border: 5px solid var(--dark);
}

.card h3 a {

}
.card [data-api="description"]{
 font-style:italic
}

main{
  padding:2rem;
}
a{
  text-decoration: none;
 color: var(--primary)
}

a:hover{
  opacity:.8;
  transition: opacity 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 

}

input,button{
  padding:.5rem;
  font-size: large
}