* {
  box-sizing: border-box;
}

body {
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
  background-color: #fff
}

header {
  padding: 0 .7rem
}

button,input,select,textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

a {
  color: #1db954;
  text-decoration: none
}

a:focus,a:hover {
  color: #1ed760;
  text-decoration: none
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

section {
  margin: 20px 0;
  padding: 1.4rem 70px;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  font-weight: 900;
  line-height: 1.1;
  color: inherit;
  padding-top: 0;
  margin-top: 0;
}

.radius-right-0 {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.radius-left-0 {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

label {
  /*   padding-right:1rem; */
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
}

label span {
  text-transform: uppercase;
  font-size: .8em;
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 0 .5rem;
}

input.form-control {
  /* margin-top:1rem; */
  padding: .5rem;
  padding-top: 1.4rem;
  vertical-align: bottom
}
